h3 {
    margin: 1em 0;
    text-align: center;
}

form {
    margin-bottom: 1em;
}

.container-fluid{
    max-width: 768px;
}

.bi-trash{
    cursor: pointer;
}

.bi-trash:hover{
    color: red;
}

li:hover{
    background: linear-gradient(to right, #fff 50%, #cefad0 50%) right;
    background-size: 200% 100%;
    transition: 0.3s;
}


